# {{ ansible_managed | default('Managed by Ansible - role: repo_manager') }}
[Unit]
Description=Periodically start syncronization service between repo servers

[Timer]
OnCalendar={{ repo_primary_timer_oncalendar }}
RandomizedDelaySec={{ repo_primary_timer_randomized_delay_sec }}
Persistent={{ repo_primary_timer_persistent | lower }}
Unit={{ repo_primary_timer_service_name }}.service

[Install]
WantedBy=timers.target
