# {{ ansible_managed | default('Managed by Ansible - role: repo_primary_timer') }}
[Unit]
Description=Syncronization service between repo servers
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ repo_user }}
Group={{ repo_group }}
ExecStart={{ repo_primary_timer_exec_start }}
